<form class="ui stacked segment form" method="POST"
      action="/animelist/{{animelistId}}/updatemovie/{{id}}" >
  <tr class="hide" id="edit{{@index}}">
    <td>
      <span class="ui input">
        <input type="text" name="title" autofocus required
          title="Please include a valid Title" 
		  placeholder="Title" value="{{title}}">
      </span>
    </td>
    <td>
      <span class="ui input">
        <input type="text" name="director" required 
               title="Please include a valid Director" 
			   placeholder="Director" value="{{director}}">
      </span>
    </td>
    <td>
      <span class="ui input">
        <input type="text" name="release_date" required
          title="Please include a valid Release Date" 
		  placeholder="Release date" value="{{release_date}}">
      </span>
    </td>
    <td>
      <span class="ui input">
        <input type="text" name="genre" required
          title="Please enter a valid Genre" 
		  placeholder="Genre" value="{{genre}}">
      </span>
    </td>
    <td>
      <button type = "reset" class="ui icon button" id="hideEdit{{@index}}" 
        title="Exit without saving">
         <i class="ui undo icon"></i>
      </button>
    </td>
    <td>
      <button type = "submit"  class="ui icon button" 
	          title="Save changes">
        <i class="ui save icon"></i>
      </button>
    </td>
  </tr>
</form>